language: ruby

rvm:
  - 2.4.2
  - 2.6.1

gemfile:
  - gemfiles/rails_4_2.gemfile
  - gemfiles/rails_5_0.gemfile
  - gemfiles/rails_5_1.gemfile
  - gemfiles/rails_5_2.gemfile

branches:
  only:
  - main
