name: tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.6, 2.7, 3.0, 3.1, 3.2]
        gemfile:
          - gemfiles/rails_5_2.gemfile
          - gemfiles/rails_6_0.gemfile
          - gemfiles/rails_6_1.gemfile
          - gemfiles/rails_7_0.gemfile
          - gemfiles/rails_7_1.gemfile
        exclude:
          - ruby: 3.2
            gemfile: gemfiles/rails_5_2.gemfile
          - ruby: 3.1
            gemfile: gemfiles/rails_5_2.gemfile
          - ruby: 3.0
            gemfile: gemfiles/rails_5_2.gemfile
          - ruby: 2.7
            gemfile: gemfiles/rails_7_1.gemfile
          - ruby: 2.7
            gemfile: gemfiles/rails_7_0.gemfile
          - ruby: 2.6
            gemfile: gemfiles/rails_7_0.gemfile

    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      env:
        BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run linter and tests
      env:
        BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      run: bundle exec rake
